*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
}

.color_white{
    color: white;
}

.color_dim_grey{
    font-size: .5rem;
    color: rgb(192, 192, 192);
}

.color_grey{
    color: rgb(192, 192, 192);
    font-size: 2rem;
}

li{
    list-style-type: none;
    color: rgb(221, 221, 221);
    padding-bottom: 10px;
    font-size: .8rem;
}
ul{
    padding: 0 0 10px 10px;
}

i{
    color: white;
}

a{
    text-decoration: none;
    color: rgb(221, 221, 221);
}
a > img{
    width: 15px;
}

li > img{
    width: 20px;
}

.spotify_nav{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: calc(100vh - 78px);
    width: 180px;
    background-color: #000000;
}
.spotify_nav div{
    overflow: scroll;
}


div.spotify_nav div > img{
    width: 80%;
    padding: 10px;
}

div.spotify_nav div ul:nth-child(2){
    padding-top: 20px;
}

div.spotify_nav div:nth-child(2){
    padding: 0 10px 10px 10px;
}

.header{
    position: relative;
}
section.spotify_nav_position{
    position: fixed;
    z-index: 2;
}

/*  spotify_nav_hamb */

.spotify_nav_hamb{
    display: none;
}

/* main upgrade fixed */

.upgrade_line{
    position: relative;
    z-index: 1;
}

.upgrade_btn{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    right: 0;
    left: 0;
}

.upgrade_btn > button{
    margin: 20px;
    color: white;
    background: none;
    border-radius: 20px;
    padding: 10px;
    border: 1px solid white;
}

/* navbar main */

section.all_music{
    height: calc(100vh - 60px);
    background-color: #141922;
    width: calc(100vw - 180px);
    position: relative;
    left: 180px;
    overflow: scroll;
}

nav.navbar_main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    font-size: .7rem;
}

nav.navbar_main ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 0;
}

nav.navbar_main ul > li{
    padding-right: 15px;
}

/* lista musica */

div.all_music_list > h1{
    color: white;
    padding-left: 20px;
}

div.all_music_list > h3{
    color: rgb(155, 155, 155);
    padding: 10px 0 20px 20px;
}


div.music_list{
    display: flex;
    justify-content: flex-start;
    align-items: self-start;
    flex-wrap: wrap;
    padding: 20px 0 20px 0;
}

div.single_music{
    width: calc((100vw - 200px) / 6);
    color: white;
    padding-left: 15px;
}

div.single_music > h2{
    font-size: 1rem;
    padding-top: 5px;
    text-align: center;
}

div.single_music > h3{
    font-size: .5rem;
    text-align: center;
}

div.single_music > *{
    padding-bottom: 10px;
}

div.single_music > img{
    width: 95%;
}

.img_rotonda{
    border-radius: 50%;
}

/* footer */

footer{
    position: relative;
}

section.footer{
    position: relative;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: max-content;
    width: 100vw;
    background-color: #282828;
    z-index: 3;
}

.playmusic_footer{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 5px;
}

.playmusic_footer div > img{
    width: 40px;
}

.playmusic_footer article{
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc((100% / 3) -50px)
}

.playmusic_footer article:nth-child(1) > div{
    align-self: center;
    padding-right: 10px;
}

.playmusic_footer article:nth-child(1) > div i{
    color: #5a5a5a;
}

.hr_live{
    width: 30%;
    border: 2px solid #c1c1c1;
    margin-left: 10px;
}

.hr_nolive{
    width: 70%;
    border: 2px solid #5a5a5a;
    margin-right: 10px;
}


.playmusic_footer article:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    padding-top: 10px;
}

.Linea_canzone{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 10px;
}

.dimension_linea{
    width: 400px;
    display: flex;
}

.playmusic_footer article:nth-child(2) div > i,
.playmusic_footer article:nth-child(3) div > i{
    padding-right: 15px;
    font-size: 1.1rem;
}

.dimension_linea_destra{
    width: 150px;
    display: flex;
}






/* media query */

@media screen and (max-width: 992px) {
    div.single_music{
        width: calc((100vw - 200px) / 4);
    }
    .dimension_linea{
        width: 300px;
    }
    .dimension_linea_destra{
        width: 75px;
    }
    .playmusic_footer article:nth-child(2) div > i,
    .playmusic_footer article:nth-child(3) div > i{
    padding-right: 8px;
}
}

@media screen and (max-width: 768px) {
    div.single_music{
        width: calc((100vw - 200px) / 2);
    }
    .dimension_linea{
        width: 150px;
    }
    .dimension_linea_destra{
        width: 50px;
    }
    .playmusic_footer article:nth-child(2) div > i,
    .playmusic_footer article:nth-child(3) div > i{
    padding-right: 5px;
    font-size: .8rem;
}
    div.single_music{
        padding-right: 15px;
    }
}

@media screen and (max-width: 576px) {
    div.single_music{
        width: calc((100vw - 60px) / 2);
    }


    .Linea_canzone{
        padding: 10px 0 0 0;
    }


    /* nav bar */
    
    .spotify_nav{
        display: none;
    }

    .spotify_nav_hamb{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: calc(100vh - 60px);
        width: 50px;
        background-color: #000000;
        padding-top: 5px;
    }

    .spotify_nav_hamb img{
        width: 20px;
    }

    section.all_music{
        height: calc(100vh - 60px);
        background-color: #141922;
        width: calc(100vw - 60px);
        position: relative;
        left: 50px;
        overflow: scroll;

}


    nav.navbar_main{

        padding: 60px 0 10px 0;
    }
    
    nav.navbar_main ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 40px 0;
    }
}